<!-- <div class="row my-5"> -->
    <!-- <div class="col-md-4 mx-auto"> -->
        <div class="card text-center m-4">
            <div class="card-header">
                <a href="{{link.link}}" target="_blank">{{link.title}}</a>
            </div>
            <div class="card-body">
                Points: <h3 class="display-4">{{link.votes}}</h3>
            </div>
            <div class="card-footer d-flex justify-content-between">
                <button class="btn btn-primary" (click)="link.IncrementVotes()">Increment</button>
                <button class="btn btn-primary" (click)="link.DecrementVotes()">Decrement</button>
            </div>
        </div>
    <!-- </div> -->
<!-- </div> -->
