<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand">Links-Votes</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#"
            >Home <span class="sr-only">(current)</span></a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            Dropdown
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container my-5">
  <div class="row">
    <div class="col-md-7 mx-auto">
      <div class="card">
        <div class="card-header">
          <h2 class="text-center text-dark">Add Links</h2>
        </div>
        <form class="card-body">
          <div class="form-group">
            <label for="title">Title: </label>
            <input
              type="text"
              #title
              name="title"
              placeholder="Google"
              class="form-control"
              autofocus
            />
          </div>
          <div class="form-group">
            <label for="link">Link: </label>
            <input type="text" #link name="link" placeholder="https://google.com" class="form-control" />
          </div>
          <div class="form-group">
            <!-- agrengando evento de angular {(click)="AddNewLink"} - crear/ver en app.component.ts -->
            <button
              class="btn btn-primary btn-block"
              (click)="AddNewLink(title, link)"
            >
              Add Link
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- Agregando el nuevo componente "link" - nombre del componenyte en link.component.ts -> app-link -->
  <div class="row my-5">
    <app-link class="col-md-4" *ngFor="let objLink of links" [link]="objLink"></app-link>
  </div>
  <!-- Directiva ngFor -->
  <!-- *ngFor="let objLink of links" -->
  <!-- Recorerá la propiedad links(array) y lo almacenará en la variable link (let link ) -->
  <!-- [link] propiedad que el componente espera en link.component.ts -->
</div>
